%a.button.tiny.right{href: '/a/create'} New user
%h2 Users
%table.table
  %thead
    %tr
      %th Username
      %th Home
      %th Key
      %th Admin
      %th Readonly
      %th #
  %tbody
    - each item in users
      %tr
        %td= item.username
        %td= item.home
        %td= item.key
        %td= item.admin
        %td= item.readonly
        %td
          %a{href: '/a/update/'+item.username} Edit
          %a{href: '/a/delete/'+item.username} Delete

- if(remove)
  %form{method: 'post', action: '/a/trash'}.row
    .columns.large-4.small-8
      %input.button.warning.tiny.left{type: 'submit', value: 'Empty trash (' + trash_size + ')', onclick: 'return confirmDeletion(event)'}
