.row.container
  .large-12.xlarge-12.columns

    -# Search
    .row
      .columns.large-5.small-12.right
        %form.row.collapse{action: '/search', method: 'GET'}
          .columns.large-9
            %input{type: 'search', name: 'search', value: search}
            %input{type: 'hidden', name: 'path', value: path}
          .columns.large-3
            %button.button.postfix.primary{type: 'submit'} Search

    %ul.breadcrumbs
      - each b in breadcrumb
        %li
          %a{href: '/?path=' + b.path}= b.name
      
    -# Sort
    %form#options{method: 'GET', action: ''}
      .row
        .columns.large-3
          .row
            .columns.large-3
              %label.inline{for: 'sort'} Sort
            .columns.large-9
              %select{name: 'sort', id: 'sort'}
                %option{value: 'name', selected: sort == 'name'} Name
                %option{value: 'time', selected: sort == 'time'} Time
                %option{value: 'atime', selected: sort == 'atime'} Access time
                %option{value: 'size', selected: sort == 'size'} Size
        .columns.large-2
          %input{type: 'radio', id: 'order_asc', name: 'order', value: 'asc', checked: order == 'asc'} 
          %label.inline{for: 'order_asc'} Asc
          %input{type: 'radio', id: 'order_desc', name: 'order', value: 'desc', checked: order == 'desc'} 
          %label.inline{for: 'order_desc'} Desc
        .columns.large-2
          .row
            .columns.large-3
              %label.inline{for: 'limit'} Limit
            .columns.large-9
              %input{type: 'number', id: 'limit', name: 'limit', value: limit}
        .columns.large-2
          %button.postfix.secondary{type: 'submit'} Update
          %input{type: 'hidden', name: 'search', value: search}
          %input{type: 'hidden', name: 'path', value: path}

    .row
      .columns.large-12
        - each p in hooks
          - if('above' in p)
            != p.above(tree, path)

    -# Tree
    %form{method: 'POST', action: '/'}
      %table#tree
        %thead
          %tr
            %th
              %input{type: 'checkbox', onclick: 'checkAll(event)', style: 'margin: 0'}
            %th Name
            %th Last Modification
            %th Last Access
            %th Size
            - if(canRemove)
              %th 
        %tbody
        - each item in tree
          %tr
            %td
              %input{type: 'checkbox', value: item.path, name: 'path'}
            %td
              - if (item.directory)
                - var options = extend(urlOptions, {page: 1})
                %a{href: buildUrl(item.path, '', options)}
                  %i.icon-folder
                  = item.name
              - else
                %a{href: '/download?path='+item.path+'&key='+user.key}
                  %i{class: 'icon-file-' + item.type}
                  = item.name
                  - if (search)
                    - var options = extend(urlOptions, {page: 1})
                    %a{href: buildUrl(item.dirname, '', options)}
                      %i.icon-folder.right{title: 'Jump to directory'}

            %td= item.lastModified
            %td= item.lastAccessed
            %td= item.humanSize
            - if(canRemove)
              %td
                - each p in hooks
                  - if('element' in p)
                    != p.element(item)
                - if(remove.method == 'mv')
                  %a{href: '/remove?path=' + item.path}
                    %i.icon-trash
                - else
                  %a{onclick: 'return confirmDeletion(event)', href: '/remove?path=' + item.path}
                    %i.icon-trash

      -# Action button
      .row
        .small-12.columns
          .row
            .large-3.columns
              %select{name: 'action'}
                - each p in hooks
                  - if('action' in p)
                    != p.action(tree)
              -# - if(remove.disabled != true)
              -#   %option{value: 'remove'} Remove
            .large-3.columns
              %input{type: 'text', name: 'name', placeholder: 'archive' + new Date().getTime()}
            .large-2.columns
              %button.postfix{type: 'submit'}
                Submit
            .large-4.columns.end.text-right
              %p
                - if(num == 1)
                  = num + ' result'
                - else
                  = num + ' results'
                = ' (' + size + ')'

      .row
        .columns.large-12
          .button-bar
            %ul.button-group
              - each p in hooks
                - if('below' in p)
                  %li
                    != p.below(tree, path)

    -# Pagination
    .pagination-centered
      %ul.pagination

        - if(page == 1)
          %li.arrow.unavailable
            %a{href: ''} &laquo;
        - else
          %li.arrow
            - var options = extend(urlOptions, {page: page-1})
            %a{href: buildUrl(path, search, options)} &laquo;

        - for (var i = 1; i <= pages; ++i)
          - if(page == i)
            %li.current
              %a{href: ''}= i
          - else
            %li
              - var options = extend(urlOptions, {page: i})
              %a{href: buildUrl(path, search, options)}= i

        - if(page < pages)
          %li.arrow
            - var options = extend(urlOptions, {page: page+1})
            %a{href: buildUrl(path, search, options)} &raquo;
        - else
          %li.arrow.unavailable
            %a{href: ''} &raquo;
