.row.container
  .large-12.columns
    %form.right{action: '/notifications', method: 'POST'}
      %button.warning.right.small{type: 'submit'} Remove notifications
      %input{type: 'hidden', name: '_method', value: 'DELETE'}
    %h2 Notifications
    %dl
      - each plugin, index in notifications
        - if(plugin.length)
          - if(index != 'num')
            %dt= index.charAt(0).toUpperCase() + index.slice(1) + ' (' + (plugin.length || 0) + ')'
          - each notification in plugin
            %dd
              - if(notification.error)
                %span.alert-box.error
                  %span= notification.message
                  %i.right= notification.fromNow
              - else 
                %span.alert-box.info
                  - if(notification.path)
                    - if(notification.search)
                      %a{href: 'search?path='+notification.path+'&search='+notification.search}= notification.message
                    - else
                      %a{href: '?path='+notification.path}= notification.message
                  - else
                    %span= notification.message
                  %i.right= notification.fromNow
