.expanded.row
  .large-12.columns

    -# Search
    .row.expanded.align-right
      .columns.large-5.small-12
        %form.input-group{action: '/search', method: 'GET'}
          %input.input-group-field{type: 'search', name: 'search', value: search}
          .input-group-button
            %input.button{type: 'submit', value: 'Search'}
          %input{type: 'hidden', name: 'path', value: path}

    -# Sort
    %form{method: 'GET', action: ''}
      .row
        .columns.small-12.medium-6
          .row
            .columns.small-2.medium-2.large-1
              %label.middle{for: 'sort'} Sort
            .columns.small-4.medium-4.large-3
              %select{name: 'sort', id: 'sort'}
                %option{value: 'name', selected: sort == 'name'} Name
                %option{value: 'time', selected: sort == 'time'} Time
                %option{value: 'atime', selected: sort == 'atime'} Access time
                %option{value: 'size', selected: sort == 'size'} Size
            .columns.row
              .columns.medium-expand.large-3
                %input{type: 'radio', id: 'order_asc', name: 'order', value: 'asc', checked: order == 'asc'} 
                %label.text-left.middle{for: 'order_asc'} Asc
              .columns.medium-expand.large-3
                %input{type: 'radio', id: 'order_desc', name: 'order', value: 'desc', checked: order == 'desc'} 
                %label.text-left.middle{for: 'order_desc'} Desc
        .columns.small-12.medium-6
          .row
            .columns.row
              .columns.small-2.medium-2.large-1
                %label.middle{for: 'limit'} Limit
              .columns.small-4.medium-4.large-3
                %input{type: 'number', id: 'limit', name: 'limit', value: limit}
            .columns.shrink
              %input.button.secondary.expanded{type: 'submit', value: 'Update'}
              %input{type: 'hidden', name: 'search', value: search}
              %input{type: 'hidden', name: 'path', value: path}

    %ul.breadcrumbs
      - each b in breadcrumb
        %li
          %a{href: '/?path=' + b.path}= b.name

    .row
      .columns.large-12
        - each p in hooks
          - if('above' in p)
            != p.above(tree, path)

    -# Tree
    %form{method: 'POST', action: '/'}
      %table#tree
        %thead
          %tr
            %th
              %input{type: 'checkbox', onclick: 'checkAll(event)', style: 'margin: 0'}
            %th Name
            %th Last Modification
            %th Last Access
            %th Size
            - if(canRemove)
              %th 
        %tbody
        - each item in tree
          %tr
            %td
              %input{type: 'checkbox', value: item.path, name: 'path'}
            %td
              - if (item.directory)
                - var options = extend(urlOptions, {page: 1})
                %a{href: buildUrl(item.path, '', options)}
                  %i.icon-folder
                  = item.name
              - else
                %a{href: '/download?path='+item.path+'&key='+user.key}
                  %i{class: 'icon-file-' + item.type}
                  = item.name
                  - if (search)
                    - var options = extend(urlOptions, {page: 1})
                    %a{href: buildUrl(item.dirname, '', options)}
                      %i.icon-folder.right{title: 'Jump to directory'}

            %td= item.lastModified
            %td= item.lastAccessed
            %td= item.humanSize
            - if(canRemove)
              %td
                - each p in hooks
                  - if('element' in p)
                    != p.element(item)
                - if(remove.method == 'mv')
                  %a{href: '/remove?path=' + item.path}
                    %i.icon-trash
                - else
                  %a{onclick: 'return confirmDeletion(event)', href: '/remove?path=' + item.path}
                    %i.icon-trash

      -# Action button
      .row
        .large-12.columns
          .row
            .columns.small-12.large-7
              .row
                .columns.large-expand
                  %select.input-group-field{name: 'action'}
                    - each p in hooks
                      - if('action' in p)
                        != p.action(tree)
                .columns.large-expand
                  %input.input-group-field{type: 'text', name: 'name', placeholder: 'archive' + new Date().getTime()}
                .columns.shrink
                  %input.button{type: 'submit'}
            .columns.small-12.large-5.text-right
              %p
                - if(num == 1)
                  = num + ' result'
                - else
                  = num + ' results'
                = ' (' + size + ')'

      .row
        .columns.large-12
          .button-bar
            .button-group
            - each p in hooks
              - if('below' in p)
                != p.below(tree, path)

    -# Pagination
    %ul.pagination.text-center

      - if(page == 1)
        %li.pagination-previous.disabled
          %a{href: ''} Previous
      - else
        %li.pagination-previous
          - var options = extend(urlOptions, {page: page-1})
          %a{href: buildUrl(path, search, options)} Previous

      - max = 6
      - for (var i = 1; i <= pages; ++i)
        - if(page == i)
          %li.current= i
        - else
          %li
            - var options = extend(urlOptions, {page: i})
            %a{href: buildUrl(path, search, options)}= i

      - if(page < pages)
        %li.pagination-next
          - var options = extend(urlOptions, {page: page+1})
          %a{href: buildUrl(path, search, options)} Next
      - else
        %li.pagination-next.disabled
          %a{href: ''} Next
